PORT=3000
NODE_ENV=development
DATABASE_URL='postgresql://vossoUser:password@localhost:5432/database?schema=public'
GEMINI_API_KEY=AIzaSyCyyykGIbR9wq6Fxqy4lsgMeV3v1IP2WdM
GEMINI_MODEL=gemini-2.5-flash
GEMINI_FALLBACK_MODEL=gemini-2.0-flash
GEMINI_TIMEOUT=60
GEMINI_MAX_RETRIES=4
UPLOAD_DIR=uploads
MAX_FILE_SIZE_MB=10
JWT_SECRET="enefeorfne9fxf387548239gt247xbgwef"
JWT_EXPIRES_IN=7d